* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    /* mặc định trình duyệt 16px để set cho font-size là 10px thì có công thức sau: 
     10 / 16 = 0.625 | 0.625 * 100 = 62.5% (62.5% tương đương là 10px)
     */
    font-size: 62.5%;
}

body {
    /* lúc này 1rem = 10px (vì ảnh hưởng bởi font-size ở trên) 
     Nên để có 16px khi đổi qua rem thì lấy công thức 16 / 10 = 1.6 (1.6rem = 16px)
    */
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common - Các thành phần dùng chung */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(
        100% - 48px
    ); /* Khi kích thước màn hình < 1110px thì sẽ chạy dòng max-width (48px là 2 bên trái phải mỗi bên 24px) */
    margin: 0px auto; /* Căn phần tử nằm giữa */
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

/* khai báo đoạn code dùng chung giới hạn số dòng và tạo ra dấu 3 chấm,
   Khi nội dung quá dài thì mới áp dụng
   Nơi nào cần sử dụng thì khai báo class này ở thẻ đó và
   Trong CSS cần truyền tham số cho biến --line-clamp ở CSS đó 
   (Nếu nội dung không dài thì phần dấu 3 chấm sẽ không hiển thị) */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(
        --line-clamp,
        2
    ); /* giới hạn số dòng, giá trị mặc định là 2 (2 dòng), muốn giới hạn bao nhiêu dòng thì thay giá trị số vào */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*================ Header ================*/
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

/*= Hero =*/
.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%; /* chuyển về % => lấy 559px / 1110px = 0.503... * 100% = 50.3 (làm tròn thành 51%) */
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5; /* áp dụng công thức như bên dưới */
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78; /* lấy số px trong figma để chia => 32px (line-height) / 18px (font-size) = 1.77 (làm tròn thành 1.78) */
    color: #5a6473;
}

.hero .hero-cta {
    min-width: 170px; /* đảm bảo nút luôn có kích thước nhỏ nhất là 170px, khi nội dung to lên thì nút cũng sẽ to lên */
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc(
        (100vw - 1110px) / 2 - 100px
    ); /* 100vw = 1440px trong figma > công thức tính ra là 65px, khi thu phóng trình duyệt thì khoảng cách vẫn luôn được đảm bảo */
    bottom: 0;
}

/*================ Clients ================*/
.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex; /* biến các phần tử bên trong thành flex-box */
    justify-content: space-between; /* đẩy các phần tử ra xa 2 bên đầu - cuối */
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25rem;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/*================ Guides ================*/
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1; /* nếu font-size và line-height giống gtri thì ở line-height sẽ có gtri là 1 */
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%; /* Xử lý cho dấu gạch ngang */
    transform: translateX(-50%); /* Xử lý cho dấu gạch ngang */
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1rem;
    color: #3b3c45;
}

.guide-item .link {
    /* vì thẻ a có kiểu display là inline nên giá trị margin sẽ không chạy được, vì vậy cần chuyển thành display là inline-block để thẻ a chạy được giá trị margin */
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px; /* đảm bảo kích thước của nút luôn nhỏ nhất là 170px */
}

/*================ Featured ================*/
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px; /* tạo khoảng cách trống cho các phần tử box bên trong */
    margin-top: 70px;
}

.featured .item {
    flex: 1; /* giá trị 1: kích thước weight, height của các item sẽ bằng nhau, F12 để xem */
    background: #ffffff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover; /* cover: giữ đúng tỉ lệ hình và lấp đầy khung hình, hình ko bị méo */
    border-top-left-radius: 12px; /* bo góc phía trên bên trái */
    border-top-right-radius: 12px; /* bo góc phía trên bên phải */
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.featured .item .desc {
    --line-clamp: 3; /* Truyền giá trị cho biến --line-clamp để giới hạn số dòng và hiển thị dấu 3 chấm */
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    /* first-child : xử lý cho phần tử đầu tiên */
    margin-left: 0px;
}

.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

/*================ Stats ================*/
.stats {
    margin-top: 75px;
    padding: 50px 0px 50px;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    background: #fff;
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px; /* thuộc tính gap dùng để tạo khoảng cách giữa các hàng, các cột*/
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    background: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    color: #fff;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats .info {
    padding: 79px 0px 0px 165px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .sub-title::before {
    position: absolute;
    top: -10;
    left: 0;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
}

.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
    padding: 0 32px;
}

.stats .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/*================ Subscription ================*/
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/*================ Footer ================*/
.footer {
    margin-top: 55px;
    padding: 50px 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap; /* nowrap: không bẻ chữ xuống hàng */
}

.footer .desc {
    white-space: normal; /* normal: gtri mặc định bẻ chữ xuống hàng */
    line-height: 1.75;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #f9f9f9;
}

/* Tác động CSS .social-link từ phần tử thứ 2 trở đi (phần tử .social-link thứ nhất không bị tác động) */
.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ebebeb;
    border-radius: 3px;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
